<footer>
  <div>
    <h4>Полезные ссылки</h4>
    <ul>
      <li *ngFor="let link of usefulLinks">
        <a href={{link.url}}>
          {{link.name}}
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Категории товаров</h4>
    <ul>
      <li *ngFor="let link of productCategoriesLinks">
        <a href={{link.url}}>
          {{link.name}}
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Часто ищут</h4>
    <ul>
      <li *ngFor="let link of frequentlySearchedLinks">
        <a href={{link.url}}>
          {{link.name}}
        </a>
      </li>
    </ul>
  </div>

  <div class="contact">
    <h4>Контактные данные</h4>
    <p>zakaz@waveharmony.com</p>
    <span>8 (800) 511-36-39</span>

    <div class="info">
      <p>Информация для покупателей</p>
      <p>Wave Harmony - женская одежда для серфинга и любых других, водных видов спорта.</p>
      <p>Все права защищены. 2021</p>
    </div>
  </div>
</footer>