<div class="container">
  <div>Home</div>
  <!-- <h1 style="font-weight: 100;">Hello Light</h1>
  <h1 style="font-weight: 300;">Hello Book</h1>
  <h1 style="font-weight: 500;">Hello Medium</h1>
  <h1 style="font-weight: 600;">Hello Demi</h1> -->
  <nav>
    <a routerLink="/dashboard">Dashboard link</a>
    <a routerLink="/heroes">Heroes link</a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-footer></app-footer> -->
</div>

<br />
<app-rxjs></app-rxjs>
<app-hero-form></app-hero-form>

<!-- <app-my-styles></app-my-styles> -->